/*
  You don't need to touch this file to complete the assignment!
  Unless you want to add styles and make it look more beautiful.
*/

/*
  Some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.disabled
{
  display: none;
}

.viewed
{
  text-decoration: line-through;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background: #bbb;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: black;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  background-color: #28a200;
}

section {
  padding: 3em;
}

table {
  table-layout: fixed;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 5px solid black;
  background-color: #060ce9;

}

th {
  border: 5px solid black;
  text-transform: capitalize;
  font-size: 2em;
  color: #bbb;
}

td {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: yellow; 
}

#active-clue {
  font-size: 2em;
  text-align: center;
  padding: 2em;
  width: 80%;
}

@media (width < 1400px) {
  table {
    width: 100%;
    overflow-x: auto;
    display: block;     
  }

}


