body {
    background-color: #ccffff;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Henny Penny", "Open Sans", sans-serif;
    font-size: 6rem;
    text-align: center;
    margin: 0px;

}

h2{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0px;

}
.top-text, .bottom-text{
    position: absolute;
    left: 50%; /*start at center */
    transform: translateX(-50%);  /* center element */
    width: 90%; /*ensure text wraps if needed*/
    font-family: "Opens Sans", sans-serif;    /*setting font, but could upgrade so user can select font in future*/
    font-size: clamp(1rem, 4vh, 2rem);   /*https://developer.mozilla.org/en-US/docs/Web/CSS/clamp*/
    text-align: center;
    font-weight: 700;
    overflow-wrap: break-word;
    word-break: break-word;
    color: black;  /*could upgrade to let use select white or black depending on picture darkness/lightness*/
}

.top-text{
    top: 10px; 
}

.bottom-text{
    bottom: 10px;
}

ul{
    text-align: center;
    margin: 10px;
    font-size: .75rem;
    list-style-type: none;
}

img{
    width: 100%; 
    height: auto;
}

.form-container{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

div {
    margin: 1rem;
}

@media (max-width: 500px){
    h1{
        font-size: 4rem;
    }
}

.meme{
    position: relative;
    display: inline-block;
}

